- @entries.each do |entry|
  %h3=l entry.at, format: :long if entry.at
  :markdown
    #{entry.body}
  = link_to 'edit', [:edit, entry]
  = link_to 'delete', entry, method: :delete

%p= link_to 'New', new_entry_path
