%h1
  Blog
  = params[:year]

- @posts.each do |post|
  %h3{ style: 'float: right; font-size: smaller' }= l post.at
  :markdown
    #{post.body}
  - post.photos.at_asc.each do |photo|
    - if photo.image.present?
      %figure{ style: 'float: left; margin: 0 0.25em' }
        = image_tag photo.image.url, width: '400px'
  %br{ :style => 'clear: both' }
