.text-center{ style: 'margin-top: 10rem; margin-bottom: 5rem' }
  = form_tag url: "/pick/#{@list.id}" do |f|
    = button_tag class: "btn btn-info btn-lg" do
      Click Me!
      %br
      %i.bi-emoji-smile{ style: 'font-size: 10rem' }
