- title 'Users Report'

%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th Last Login
  %tbody
    - @users.sort_by { |u| u.log_entries.logins.created_at_desc.first.try(:created_at) || Time.at(0) }.reverse.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td=l user.log_entries.logins.created_at_desc.first.try(:created_at)
