- title 'Users Report'

- if can? :create, User
  %p.pull-right
    = link_to new_user_path, class: 'btn btn-success' do
      %i.icon-white.icon-plus
      New User

%table.table
  %thead
    %tr
      %th Name
      %th Email
      %th Last Login
  %tbody
    - @users.sort_by { |u| u.log_entries.logins.created_at_desc.first.try(:created_at) || Time.at(0) }.reverse.each do |user|
      %tr
        %td= link_to user.name, [:edit, user]
        %td= user.email
        %td=l user.log_entries.logins.created_at_desc.first.try(:created_at)
