- @nutritional_posts.each do |post|
  = div_for post do
    %h1= link_to post.title, public_nutritional_post_path(post.slug)
    :markdown
      #{post.bite}
    - if params[:full_plate].present?
      %br
      :markdown
        #{post.full_plate}
    %hr
