%li
  - if saved_file.attachment
    = link_to saved_file.attachment.file.try(:filename), saved_file.attachment.url
  &ndash;
  = link_to saved_file, method: :delete, data: { confirm: 'Are you sure you want to delete this file?' } do
    delete
