- title 'Upload Files'

- content_for :sidebar do
  = link_to "All Files", :saved_files, class: 'btn btn-success btn-block'

- if SavedFileCategory.any?
  = render partial: "form", locals: { saved_file: @saved_file }
- else
  .alert.alert-danger Create a Category first.
