- title 'Upload Files'

.container
  = form_for SavedFile.new, :html => { :multipart => true, :id => 'fileupload'  } do |f|
    .row.fileupload-buttonbar
      .span7
        %span.btn.btn-success.fileinput-button
          %i.icon-plus.icon-white
          %span Add Files
          = f.file_field :attachment, multiple: true
      .span5
        .progress.progress-success.progress-striped.active.fade
          .bar{ style: 'width:0%;' }
    .fileupload-loading
    %br

    %table.table.table-striped
      %tbody.files{ data: { toggle: 'modal-gallery', target: '#modal-gallery' } }

= render 'jquery_file_upload_templates'

.row
  %p.span12= link_to 'All files', saved_files_path
