DEFAULTS: &DEFAULTS
  fog_bucket: asset-bucket
  fog_key: aws_access_key
  fog_secret: aws_secret
  email_username: email@example.com
  email_password: 'password'
  secret_key_base: 'c1499e22237e67d170f1fa8d181b28881f3dbb3f0170d816267ea7fda820e052fcb8a30a02254a47d73380b34c02772318486ca7e8dd3187b0405e60098bb50f'

development:
  <<: *DEFAULTS

test:
  <<: *DEFAULTS

production:
  <<: *DEFAULTS
