<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="template-upload fade row" style="margin-top: 1em">
      <div class="preview col-xs-12"><span class="fade"></span></div>
      <div class="col-xs-8 text-center">
        <span class="name">{%=file.name%}</span>
      </div>
      <div class="col-xs-4 text-center">
        <span class="size text-muted">{%=o.formatFileSize(file.size)%}</span>
      </div>
      {% if (file.error) { %}
        <div class="error col-xs-12 text-danger">
          <span class="label label-important">{%=locale.fileupload.error%}</span>
          <p>{%=locale.fileupload.errors[file.error] || file.error%}</p>
        </div>
      {% } else if (o.files.valid && !i) { %}
        <div class="progress progress-success progress-striped active">
          <div class="bar" style="width:0%;"></div>
        </div>
      {% } %}
      {% if (!i) { %}
        <button class="btn btn-warning btn-block">
          <i class="fa fa-ban fa-inverse"></i>
          <span>{%=locale.fileupload.cancel%}</span>
        </button>
      {% } %}
    </div>
    {% } %}
  </script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="template-download fade row" style="margin-top: 1em">
      {% if (file.error) { %}
        <div class="col-xs-12">
          <span class="name">{%=file.name%}</span>
          <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </div>
        <div class="error col-xs-12 text-danger">
          <span class="label label-important">{%=locale.fileupload.error%}</span>
          <p>{%=locale.fileupload.errors[file.error] || file.error%}</p>
        </div>
      {% } else { %}
        <div class="preview col-xs-12">
          {% if (file.photo_url) { %}
            <img src="{%=file.image_url%}" class="img-responsive img-rounded center-block">
          {% } %}
        </div>
        <div class="col-xs-8 text-center">
          <span class="name">{%=file.name%}</span>
        </div>
        <div class="col-xs-4 text-center">
          <span class="size text-muted">{%=o.formatFileSize(file.size)%}</span>
        </div>
      {% } %}
    </div>
    {% } %}
</script>
