- if photo.image?
  %li
    .thumbnail.btn-hover{ class: photo.entries.count.zero? && 'unblogged' }
      - if can? :update, photo
        = link_to [:edit, photo], class: 'btn btn-small', title: 'Edit Photo' do
          %i.fa.fa-edit
      - group = 'group' if local_assigns[:group].nil?
      = link_to photo.image.url, class: 'fancybox', rel: group, title: photo.description do
        = image_tag photo.resize_url(:small), class: 'img-rounded', alt: photo.description.to_s
