- if photo.image?
  - classes = []
  - classes << 'unblogged' if photo.posts.count.zero?
  - classes << (local_assigns[:center].present? ? 'center-block' : 'pull-left')
  .photo
    .btn-hover.thumbnail{ class: classes }
      = link_to [:edit, photo], class: 'btn btn-success btn-small visible-xs-block', title: 'Edit Photo' do
        %i.fa.fa-edit
      = link_to [:edit, photo], class: 'btn btn-success btn-small hidden-xs', title: 'Edit Photo' do
        %i.fa.fa-edit
      - group = 'group' if local_assigns[:group].nil?
      = link_to photo.image.url, class: 'fancybox', rel: group, title: photo.description do
        = image_tag photo.image.url, class: 'img-rounded img-responsive', alt: photo.description.to_s
