- if photo.image.attached?
  %figure.figure.my-3.mx-1.text-center.d-table.position-relative{ data: { controller: "photo-carousel" } }
    - data = { action: 'photo-carousel#openPhoto', photo_carousel_photo_id_param: photo.id }
    = link_to "#", class: 'd-table-row text-white', data: data do
      - if photo.image.previewable?
        - play_styles = 'font-size: 3em; top: 40%; left: 50%; transform: translate(-50%,-50%)'
        %i.bi-play-circle.position-absolute{ style: play_styles }
      - if photo.image.representable?
        = image_tag photo.image.representation(resize_to_limit: [250, 200]), class: 'figure-img img-thumbnail'
    %figcaption.figure-caption{ style: 'display: table-caption; caption-side: bottom' }
      = link_to [:edit, photo], class: 'text-white text-decoration-none' do
        - if photo.description.to_s.gsub(/\s/, '').blank?
          %em Insert caption here
        - else
          = photo.description.to_s.html_safe
