- title 'Edit Photo'

- content_for :sidebar do
  - if @photo.persisted?
    .row.justify-content-center
      .col-auto
        = button_to @photo, class: 'btn btn-outline-danger ', method: :delete, data: { turbo_confirm: 'Are you sure you want to delete this photo?' } do
          %i.bi-trash-fill
          Delete

  .row.justify-content-center
    .col-auto= render @photo

= render 'form'

= render partial: "/shared/carousel_modal",
  locals: { photos: [@photo], modal_id: "photos-modal", carousel_id: "photos-carousel" }
