- title 'Edit Photo'

- content_for :sidebar do

  .d-grid.gap-2
    = link_to new_post_path(post: { at: @photo.at }), class: 'btn btn-success' do
      %i.bi-plus-lg
      New Blog Post
    = link_to @photo, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this photo?' } do
      %i.bi-trash-fill
      Delete

  %hr

  = render @photo, center: true

= render 'form'
