- title 'Photos'

- if can? :create, Photo
  %p.pull-right
    %br
    = link_to new_photo_path, class: 'btn btn-success' do
      %i.icon-white.icon-plus
      New Photo
    = link_to new_upload_batch_path, class: 'btn btn-success' do
      %i.icon-white.icon-asterisk
      New Batch

%ul.thumbnails
  = render @photos

%p.clearfix
  = paginate @photos
