- title 'New Photo'

- most_recent_photo = Photo.created_at_desc.first
- if most_recent_photo.try(:image?)
  .thumbnail.pull-right
    %p Most Recent Photo
    = link_to most_recent_photo do
      = image_tag most_recent_photo.resize_url(:small), class: 'img-rounded'
    %p= most_recent_photo.description

= render :partial => 'form'
