- title 'Edit Blog Post'

= render 'form'

- if (photos = @post.photos.at_asc).present?
  .row
    .col-md-12
      %h4 Photos for this Post
      - photos.each do |photo|
        = render photo if photo.image?

- if @post.at.future?
  .row
    .col-md-12
      %h4 Add Photos
      - Photo.created_at_desc.limit(20).each do |photo|
        - if photo.image?
          - classes = ['pull-left']
          - classes << 'unblogged' if photo.posts.count.zero?
          .thumbnail{ class: classes }
            = link_to [PostPhoto, { post_photo: { photo_id: photo.id, post_id: @post.id } }], method: :post, title: photo.description do
              = image_tag photo.resize_url(:thumbnail), class: 'img-rounded img-responsive', alt: photo.description.to_s
