#baby-logs-controller {

  table thead th {
    font-size: larger;
    text-align: center;
  }

  #new_baby_log {

    button {
      padding: 1rem;
    }

    textarea#baby_log_notes {
      margin-top: 1rem;
    }

  }

}
