#blog-posts-controller {

  #entry_body {
    width: 98%;
  }

  .photo {
    display: inline;
  }

  .comments {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
  }

}
