- content_for :sidebar do
  .d-grid.gap-2
    = link_to %i[new decider_list], class: 'btn btn-success' do
      %i.bi-plus-lg
      New List

.list-group
  - @lists.each do |list|
    = link_to list.name, list, class: 'list-group-item'
