- title 'Statistics'

%dl.dl-horizontal

  %dt Daniel's Entries
  %dd= number_with_delimiter User.where(role: 'father').first.entries.count

  %dt Erika's Entries
  %dd= number_with_delimiter User.where(role: 'mother').first.entries.count

  %dt Blog Posts
  %dd= number_with_delimiter Post.count

  %dt Photos
  %dd= number_with_delimiter Photo.count
