- flash.each do |key, message|
  -# Bootstrap has warning, error, success and info; Rails has alert and notice
  - css_class = 'alert-danger' if key == 'alert'
  - css_class = 'alert-success' if key == 'notice'
  .alert.alert-dismissible.fade.show{ class: css_class}
    %button.btn-close{ data: { bs_dismiss: 'alert' }, aria_label: 'close' }
    %strong
      - if key == 'notice'
        %i.bi-emoji-smile-fill
        #{['Nice', 'Good Work', 'Way to go', 'Excellent', 'Hooray', 'Awesome', 'Hen in a hat. Hooray! Hooray', 'Superb', "That's great"].sample}!
      - elsif key == 'alert'
        %i.bi-emoji-frown-fill
        #{['Oh No', 'Not Good', 'Not cool', 'Problem', 'Uh, oh', 'Very sad', 'Bad news'].sample}!
    = message
